flask
flask-sqlalchemy
flask-bcrypt
Flask-Migrate
flask_login
jyserver
flask_restful
click==8.0.1
colorama==0.4.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
gunicorn
flask_pymongo
dnspython