{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 class ="shadow  border-2  font-light rounded-lg w-5/6 my-4 mx-16  px-4 h-14 bg-gray-300 text-center container text-4xl" >Login</h3>
  <div class="justify-items-center container">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
