head{
	background-color: yellow;
	color: #f4f4f4;
}

body{
	background-color:#f4f4f4;
	color:#555555;
}
body{
	background-color:#f4f4f4;
	color:#000000;

	font-family: auto;
}

}
h1{
	color:#555555;

}
.alert-error {
  background-color: red;
  color: white;
}
.alert-info {
  background-color: yellow;
  color: black;
}