
    <div class = "container rounded-lg bg-gray-200  shadow-xl border-2 shadow-2xl">
      <h1 class= "text-4xl  text-center text-bold font-weight-700" >Codec</h1>
      <table class= " font-bold font-weight-700">
        <!-- left -->
        <p>ID          =</p>
        <p>Name        =</p> 
        <p>Part no.    =</p>
        <p>Date Entry. =</p>
        <p>Date Exit.  =</p>
        <!-- right -->
        <p>{{ID}}</p>
        <p>{{Name}}</p>
        <p>{{Part_no}}</p>
        <p>{{Date_Exit}}</p>

      </table>
    </div>

{% block content %} {% endblock %}
