   <form class="my-10  h-auto bg-white rounded-lg" method="POST" style="font-family:Roboto" >
    <!-- tittle -->
            <h2 class="text-3xl text-center text-gray-700 my-4 pt-4">Upload Barcode Data</h2>

    <!-- scan barcode submit -->
            <div class="container flex justify-center">
                    <input class="border-2 border-gray-400 rounded-l-lg w-1/2 px-3 py-2" type="text" name="code" placeholder="Barcode">

                <div class="border-2 border-gray-400 bg-blue-400 rounded-r-lg px-3 py-2">
                    <button type="submit" name="barcode_data" >
                        Submit
                    </button>
                </div>
            </div>


            <div class="container flex  justify-evenly py-5">
    <!-- left detail -->
                <div class="container px-4 py-3 w-max ">
                    <div>
                        <p>Item name:</p>
                        <input class="border-2 border-gray-400 rounded-lg w-max px-3 py-2 ml-10" type="text" name="item_name" placeholder="Input">
                    </div>
                    <div>
                        <p>Part No.:</p>
                        <input class="border-2 border-gray-400 rounded-lg w-max px-3 py-2 ml-10" type="text" name="part_no" placeholder="Input">
                    </div>
                    <div>
                        <p>Serial No.:</p>
                        <input class="border-2 border-gray-400 rounded-lg w-max px-3 py-2 ml-10" type="text" name="serila_no" placeholder="Input">
                    </div>
                    <div>
                        <p>Description:</p>
                        <input class="border-2 border-gray-400 rounded-lg w-max px-3 py-2 ml-10" type="text" name="description" placeholder="Input">
                    </div>
                    <div>
                        <p>Remarks:</p>
                        <!-- <input class="border-2 border-gray-400 w-20 h-80 rounded-lg w-max px-3 py-2 ml-10" type="text" name="remarks" placeholder="Input"> -->
                        <textarea class="border-2 border-gray-400 w-20 h-80 rounded-lg w-max px-3 py-2 ml-10" type="text" name="remarks" placeholder="Input" cols="50" rows="10"></textarea>

                    </div> 

                </div>
    <!-- rigth picture -->
                <div class="container px-4 py-3 w-max">
                    <textarea class="border-2 border-gray-400 w-20 h-80 rounded-lg w-max px-3 py-2 ml-10" type="text" name="remarks" placeholder="Input" cols="50" rows="10"></textarea>
                </div>
            </div>
        </form>




        <div>
                        <p>Item name:</p>
                        <input class="border-2 border-gray-400 rounded-lg px-3 py-2 ml-10 w-full shadow-lg" type="text" name="item_name" placeholder="Input">
                    </div>
                    <div>
                        <p>Part No.:</p>
                        <input class="border-2 border-gray-400 w-full rounded-lg px-3 py-2 mx-10 shadow-lg"  type="text" name="part_no" placeholder="Input">
                    </div>
                    <div>
                        <p>Serial No.:</p>
                        <input class="border-2 border-gray-400 w-full rounded-lg px-3 py-2 mx-10 shadow-lg" type="text" name="serila_no" placeholder="Input">
                    </div>
                    <div>
                        <p>Description:</p>
                        <input class="border-2 border-gray-400 w-full rounded-lg px-3 py-2 mx-10 shadow-lg" type="text" name="description" placeholder="Input">
                    </div>
                    <div>
                        <p>Remarks:</p>
                        <!-- <input class="border-2 border-gray-400 w-20 h-80 rounded-lg w-max px-3 py-2 ml-10" type="text" name="remarks" placeholder="Input"> -->
                        <textarea class="border-2 border-gray-400 w-full rounded-lg px-3 py-2 mx-10 shadow-lg" type="text" name="remarks" placeholder="Input" cols="50" rows="10"></textarea>

                    </div> 