<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Barcode System -
      {% block title %}Home{% endblock %}
     </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>

<body class = "bg-indigo-800 ">


  <nav class="bg-gray-900 text-white mx-auto flex justify-between px-2">
    
    <div class = "container mx-auto">
      <img src="https://ureshiitech.com/img/ure.png"  alt=logo>
    </div>
    <div class = "container">
      <h2 class="text-5xl font-light text-white py-2 ">
        BARCODE SYSTEM
      </h2>
    </div>
    

    <div class="container text-right my-auto">
      <div class="container text-right">
        <a href="/" class = "hover:text-gray-600 ">Home</a>
        <a href="/add_barcode" class = "hover:text-gray-600 px-1">Add Barcode</a>
        {% if user.is_authenticated %}
        <a href="/logout" class = "hover:text-gray-600 px-1">Logout</a>
            {% if user.position == Admin %}
        <a href="/update_user" class = "hover:text-gray-600 px-1">Update_user</a>
            {% endif %}
        {% else %}
        <a href="/login" class = "hover:text-gray-600 px-1">Login</a>
        <a href="/sign-up" class = "hover:text-gray-600 px-1">Sign-up</a>
        {% endif %}
        <a href="#" class = "hover:text-gray-600">About</a>
      </div>

      <div class="container flex justify-end">     
        {{user.position}}        
        {{user.first_name}}
      </div>
    </div>
  </nav>




{% include "/user_acc/Banner/banner.html" %}

<div class="container">{% block content %} {% endblock %}</div>

  </body>
</html>

