<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Barcode System -
      {% block title %}Home{% endblock %}
     </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="#">
    
  </head>

<!-- from-indigo-600  to-red-500 -->

<body >
  <div class = " w-full h-full" style="background-image: url('{{url_for('static',filename='bg_image/main_bg.jpg')}}');"  >
  <nav class="bg-gray-900 text-white mx-auto flex justify-evenly px-2">
    
    <div class = "container">
      <img class="w-1/4" src="https://thumbs-prod.si-cdn.com/JGp09LhmXUrC7nKIXtKQLqgw-Go=/fit-in/1600x0/https://public-media.si-cdn.com/filer/82/41/82412cad-4780-4072-8f62-7fb13becb363/barcode.jpg"  alt=logo>
    </div>
    <div class = "container">
      <h2 class="text-5xl font-light text-white py-2 ">
        BARCODE SYSTEM
      </h2>
    </div>

    <div class="container text-right my-auto">
      <div class="container text-right">
        <a href="/" class = "hover:text-gray-600 ">Home</a>
        <a href="/Check_barcode" class = "hover:text-gray-600 px-1">Check barcode</a>
        {% if user.is_authenticated %}
        <a href="/logout" class = "hover:text-gray-600 px-1">Logout</a>
            {% if user.position == Admin %}
        <a href="/update_user" class = "hover:text-gray-600 px-1">Update_user</a>
            {% endif %}
        {% else %}
        <a href="/login" class = "hover:text-gray-600 px-1">Login</a>
        <a href="/sign-up" class = "hover:text-gray-600 px-1">Sign-up</a>
        {% endif %}
        <a href="#" class = "hover:text-gray-600">About</a>
        {% include "Barcode_sys/Front_end/barcode_list_nav.html" %}
      </div>

      <div class="container flex justify-end space-x-4">     
        {{user.position}}        
        {{user.first_name}}
      </div>
    </div>
  </nav>




{% include "/user_acc/Banner/banner.html" %}

{% block content %} {% endblock %}
    </div>
  </body>
</html>

