{%extends "base.html"%}
{% block title %} Upload_ko {% endblock title%}

{% block content %}  

<form action="#" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="pic" />
   <input type="submit" value="Upload a file"/>
</form>

<form action="#" method="POST"> 
   <input type="text" name="id" />
   <input type="submit" value="serch"/>
</form>


<div>
<!--    <div>-->
<!--        <p>Taken from wikpedia</p>-->
        <img src="data:{{mimetype}};charset=utf-8;base64,{{data}}" alt="Red dot" />
<!--    </div>-->
<!--    -->
</div>

<!-- <img src="data:image/jpeg;base64,' . base64_encode( $ad['Image'] ) . '" /> -->

{% endblock %}  